@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fafafa;
}

.center_helper {
  margin: 50px auto;
}

.circular_progress {
  position: relative;
  height: 90px;
  width: 90px;
  background: #307bbe;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: grid;
  place-items: center;
}

.circular_progress::before {
  content: '';
  position: absolute;
  height: 84%;
  width: 84%;
  background-color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
